<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notion API Response</title>
  <!-- Bootstrap CSSのリンク -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <!-- カスタムCSSのリンク -->
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Notion API レスポンス
      </div>
      <div class="card-body">
        <h5 class="card-title">レスポンス結果</h5>
        <p class="card-text">{{ message | safe }}</p>
        <a href="{{ url_for('home') }}" class="btn btn-secondary">戻る</a>
      </div>
    </div>
  </div>
  <!-- BootstrapのJavaScriptと依存関係 -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
